<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">
    <div class="p-grid">

      <div class="p-col-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="name"
          #name="ngModel" required minlength="5" [(ngModel)] ="people.name">

        <app-message [control]="name" error="required"
          text="Informe o nome"></app-message>

        <app-message [control]="name" error="minlength"
          text="Mínimo de {{ name.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" name="address"
          #address="ngModel" required [(ngModel)] ="people.address.address">

        <app-message [control]="address" error="required"
          text="Informe o logradouro"></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Número</label>
        <input pInputText type="text" name="number"
          ngModel #number="ngModel" required [(ngModel)] ="people.address.number">

        <app-message [control]="number" error="required"
          text="Informe o número"></app-message>

      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="additional" [(ngModel)] ="people.address.additional">
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>Bairro</label>
        <input pInputText type="text" name="neighborhood"
          ngModel #neighborhood="ngModel" required [(ngModel)] ="people.address.neighborhood">

        <app-message [control]="neighborhood" error="required"
          text="Informe o bairro"></app-message>

      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>CEP</label>
        <p-inputMask name="zipCode" mask="99.999-999"
        [(ngModel)] ="people.address.zipCode"
        #zipCode="ngModel" required ></p-inputMask>

        <app-message [control]="zipCode" error="required"
          text="Informe o CEP"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Cidade</label>
        <input pInputText type="text" name="city"
          #city="ngModel" required [(ngModel)] ="people.address.city">

          <app-message [control]="city" error="required"
          text="Informe a cidade"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
          <label>Estado</label>
          <input pInputText type="text" name="state"
            #state="ngModel" required [(ngModel)] ="people.address.state">

          <app-message [control]="state" error="required"
            text="Informe o Estado"></app-message>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" [disabled]="!f.valid"></button>
        <button pButton type="button" label="Novo" class="p-button-info"
          (click)="new(f)" ></button>
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>


</div>
