<div class="container">
  <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="save()">

    <div class="p-grid">

      <div class="p-col-12">
        <h1>{{ editing ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="tipos" name="type"
         formControlName="type"></p-selectButton>
      </div>


      <div class="p-col-6 p-md-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar name="dueDate" dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false" [showIcon]="false"
          formControlName="dueDate"></p-calendar>
          <app-message [control]="formulario.get('dueDate')" error="required"
          text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ formulario.get('type').value === 'RECEIPT' ? 'Recebimento' : 'Pagamento' }} </label>
        <p-calendar dateFormat="dd/mm/yy" name="paymentDate"
          formControlName="paymentDate"></p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição</label>
        <!--label>Descrição {{descricao.errors | json}}</label-->
        <input pInputText type="text" name="description"
          formControlName="description" >

        <app-message [control]="formulario.get('description')" error="mandatory"
          text="Informe uma descrição"></app-message>

        <app-message [control]="formulario.get('description')" error="minLength"
          text="Mínimo de {{ formulario.get('description').errors?.minLength?.length }} caracteres"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Valor</label>
        <input pInputText type="text"  name="value" placeholder="0,00"
        currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }"
        formControlName="value">

        <app-message [control]="formulario.get('value')" error="required"
          text="Informe um valor"></app-message>

      </div>

      <div class="p-col-12 p-md-6 p-fluid" formGroupName="category">
        <label>Categoria</label>
        <!--label>Categoria {{categoria.value}} </label-->
        <p-dropdown name="category" [options]="category"
          placeholder="Selecione" formControlName ="id"></p-dropdown>

        <app-message [control]="formulario.get('category')" error="required"
           text="Informe uma categoria"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid" formGroupName="people">
        <label>Pessoa</label>
        <!--label>Pessoa {{pessoa.value}} </label-->
        <p-dropdown name="people" [options]="people" placeholder="Selecione"
          [filter]="true"
         formControlName="id"></p-dropdown>

         <app-message [control]="formulario.get('people')" error="required"
           text="Informe uma pessoa"></app-message>

      </div>

      <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"  name="observation"
          formControlName="observation"> </textarea>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"> </button>
        <button pButton type="button" label="Novo" class="p-button-info"
          (click)="new()"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>

</div>
