<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="create(f)">

    <div class="p-grid">

      <div class="p-col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="tipos" #tipo
        [(ngModel)]="launching.type" name="type"></p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false"
          [showIcon]="false" name="dueDate"
          [(ngModel)] ="launching.dueDate"  ngModel #vencimento="ngModel" required    ></p-calendar>

          <app-message [control]="vencimento" error="required"
          text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }} </label>
        <p-calendar dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false"
          [showIcon]="false" [(ngModel)] ="launching.paymentDate" name="paymentDate"></p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição</label>
        <!--label>Descrição {{descricao.errors | json}}</label-->
        <input pInputText type="text" name="description"
          ngModel #descricao="ngModel" required minlength="5"
          [(ngModel)] ="launching.description" >

        <app-message [control]="descricao" error="required"
          text="Informe uma descrição"></app-message>

        <app-message [control]="descricao" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" name="value" currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }"
        ngModel #valor="ngModel" required [(ngModel)] ="launching.value">

        <app-message [control]="valor" error="required"
          text="Informe um valor"></app-message>

      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
        <!--label>Categoria {{categoria.value}} </label-->
        <p-dropdown [options]="category" placeholder="Selecione" name="category"
         ngModel #categoria="ngModel" required  [(ngModel)] ="launching.category.id"></p-dropdown>

         <app-message [control]="categoria" error="required"
           text="Informe uma categoria"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Pessoa</label>
        <!--label>Pessoa {{pessoa.value}} </label-->
        <p-dropdown [options]="people" placeholder="Selecione" [filter]="true" name="people"
         ngModel #pessoa="ngModel" required [(ngModel)] ="launching.people.id"></p-dropdown>

         <app-message [control]="pessoa" error="required"
           text="Informe uma pessoa"></app-message>

      </div>

      <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" [(ngModel)] ="launching.observation" name="observation" > </textarea>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" [disabled]="!f.valid"> </button>
        <button pButton type="button" label="Novo" class="p-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>

</div>
